a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  /* Строчно-блочный элемент */
  background: #2f2f2f;
  /* Серый цвет фона */
  border: 1px solid #000;
  color: #fff;
  /* Белый цвет текста */
  padding: 1rem 1.5rem;
  /* Поля вокруг текста */
  text-decoration: none;
  /* Убираем подчёркивание */
  border-radius: 3px;
  /* Скругляем уголки */
}

.button {
  width: 200px;
  height: 42.5px;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  font-size: 20pt;
  text-align: center;
  padding-top: 7.5px;
  cursor: pointer;
  font-family: impact;
}

.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.button .img {
  background-image: url("ic-menu-dark.png");
  background-size: 100%;
  margin-top: 7.5px;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.button:hover .img {
  background-image: url("ic-menu-white.png");
}

a {
  text-decoration: none;
}

.verticalcenter {
  display: table-cell;
  height: 300px;
  vertical-align: middle;
}
